/* DEFAULT VALUES */
body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

header.masthead {
	position: relative;
	/*background: url("../img/bg-masthead.jpg") no-repeat center center;*/
	background: linear-gradient(to right, #a3e3f2, #51a8ba);
	background-size: cover;
	padding-top: 8rem;
	padding-bottom: 8rem;
	min-height: 550px;
}

header.masthead .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
}

header.masthead h1 {
	font-size: 2rem;
}

@media (min-width:768px) {
	header.masthead {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	header.masthead h1 {
		font-size: 3rem;
	}

}

.showcase .showcase-text {
	padding: 3rem;
}

.showcase .showcase-img {
	min-height: 30rem;
	background-size: cover;
}

@media (min-width:768px) {
	.showcase .showcase-text {
		padding: 7rem;
	}

}

.features-icons {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.testimonials {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.testimonials .testimonial-item {
	max-width: 18rem;
}

.testimonials .testimonial-item img {
	max-width: 12rem;
	-webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
	box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
	position: relative;
	background-color: #343a40;
	/*background: url("../img/bg-masthead.jpg") no-repeat center center;*/
	background-size: cover;
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.call-to-action .overlay {
	position: absolute;
	background-color: #212529;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
}

footer.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}


/* LANDING PAGE */

nav {
	background: linear-gradient(to right, #a3e3f2, #51a8ba);
}

nav > .container > a.btn {
	background-color: #f94d5d;
    border-color: #f94d5d;
    box-shadow: 3px 2px 3px 1px #888;
}

header.masthead h2 {
	font-weight: 400;
}

div.navbar2 {
	justify-content: space-around;
	background: linear-gradient(to right, #a3e3f2, #51a8ba);
	margin: 0;
}

div.navbar2 a {
	color: white;
	text-shadow: 2px 2px 4px #000000;
	min-height: 60px;
	transition: all 0.5s;
}

div.navbar2 a:hover {
	font-size: 1.75rem;
}

div.navbar2 .shoppingCart {
	width: 30px;
	fill: white;
	-webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
 	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
 	transition: all 0.5s;
}

div.navbar2 .shoppingCart:hover {
	width: 40px;
}

.mainButton {
	padding: 10px 20px;
	background: linear-gradient(to top right, #fdcf6e, #f86d6a);
	text-shadow: 2px 2px 4px #000000;
	border: none;
	transition: all 0.3s;
}

.mainButton:hover {
	padding: 15px 30px;
}

.smartphoneIcon {
	width: 30px;
	margin-right: 5px;
	margin-left: -10px;
 	filter: drop-shadow( 1px 1px 4px rgba(0, 0, 0, .7));
}

.text-center-flex {
	justify-content: center;
}

section.features-icons .features-icons-item {
	color: #2198b1;
	font-weight: normal;
	font-size: 1.25rem;
}

.features-icons > .container {
	max-width: 100%;
}
