.navbar-brand {
    font-size: 2em;
}



.navbar-nav,
.navbar-nav * {
    font-size: .8rem;
    font-weight: bold;
    color: #ddd !important;
}

.nav-link:hover {
    color: white !important;
}

.dropdown-item {
    color: initial !important
}

.amount {
    border: none;
    border-bottom: 1px solid black;
    width: 4rem;
    font-size: 1.5em;

}

.input-group-prepend span {
    border-bottom: 1px solid black;
    min-width: 1em;
    font-size: 1.5em;
}

.l-item {
    list-style-type: none;
    font-size: .8em;
    font-weight: 600;
    line-height: 1.2
}

.hr {
    border-top: 1px solid black;
    width: 70%;
}

.hrm {
    width: 30%;
    border-top: 1px solid black;
}


.bottom-part {
    max-width: 50%;

}

/* Page 2 specific styles */

.line-height-x {
    line-height: .7;
}

.overflow-scroll {
    overflow: scroll;
    max-height: 30rem;
}





/*************     LARGER THAN TABLET SIZE ********************/
@media(min-width:768px) {
    .main-part {
        height: 40rem;
    }
}




/* Page 3 specific styles */


.body {
    box-sizing: border-box
}

nav {
    /* position: absolute !important; */

    width: 100% !important;
    left: 0;
    z-index: 200;
}

.navbar-brand {
    font-family: 'Rammetto One', cursive;
    font-size: large
}

.fa,
a {
    color: white !important;
}

.form-custom-input {
    background: none !important;
    height: 1.5rem !important;
    border: 1px solid white;
    border-radius: .7rem;
}

.input-group-append {
    height: 1.5rem;
}

.input-group-append button {
    border-radius: .7rem;
}




.bottom-part {
    color: #47a5be;
}

.expalnatory-gif {
    padding: 3.5rem 6rem 3.5rem 6rem;
    border: 2px solid black;
    border-radius: .5rem;
}

@media(max-width:768px) {
    .scrolling-options div {
        margin-top: 1.5rem;
    }
    

    .tooltip {
        margin: 1rem auto 1rem auto;
    }

    .importance {
        display: none
    }

    .expalnatory-gif {
        padding: 1rem 2rem 1rem 2rem;
        border: 2px solid black;
        border-radius: .5rem;
    }

    .navigation-item {
        display: flex;
    }

    .h-80 {
        height: 88%;
    }

    .navbar-toggler {
        color: black !important;
    }

    .search {
        float: left;
    }

    .bg-grad {
        background: #d1d1d1;
    }
}

@media(max-width:992px) {

    .line-height-x
    {
        line-height: 1;
    }

    .nav-item {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
}

@media(min-width:1024px) {
    .bg-grad {
        background: linear-gradient(90deg, #004ef8, #0fc0fd 15%, #0245b4);
    }
}


@media(max-width:576) {}

/* slider */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #d1d1d1;
    outline: none;
    opacity: 0.5;
    transition: .2s;
    margin: 0;
    padding: 5px
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
}

.range-options {
    font-size: .7em;
}