/* index.html */
html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

footer {
	background-color: #4547fa;
}

.bluebg {
	background-color: #4547fa;
}

.white {
	color: white;
}

a {
	outline: none;
}

.backButton,
.nextButton {
	width: 200px;
	position: relative;
}

svg.leftArrow {
	width: 25px;
	position: absolute;
	left: 10px;
}

/* Non selectable stuff */
svg,
h2,
h4,
.pmprice,
.navbar,
img,
.featuresContainer,
.secondaryBanner {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
}

svg.rightArrow {
	width: 25px;
	position: absolute;
	right: 10px;
}

.redbutton {
	background-color: #f64e5d;
	color: white;
	padding: 14px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	box-shadow: 3px 3px 3px 1px #888888;
}

.linkbutton {
	border: none;
	background-image: linear-gradient(to right, #ffcd6b, #e9775f);
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-top: 10%;
	margin-bottom: 10%
}

.jumbotronCustom {
	padding-top: 1%;
	padding-bottom: 0%;
	margin-bottom: 0;
}

.progressBar {
	width: 100%;
	max-width: 700px;
}

.searchBar input.form-control {
	background: rgba(0, 0, 0, 0.0);
	border-color: white;
}

.searchBar div.input-group-append>button {
	background: rgba(0, 0, 0, 0.0);
	border-color: white;
	color: white;
}

.mainBanner {
	padding-top: 5%;
	width: 100%
}

.mainBanner .mainBannerHand {
	max-height: 400px;
}

.mainBanner .mainBannerHand img {
	object-fit: scale-down;
	height: inherit;
	width: inherit;
	max-height: 400px;
}

.secondaryBanner {
	padding-left: 10%;
	padding-right: 10%
}

.piggySVG {
	margin-top: -15px;
	margin-bottom: 15px;
}

.secondaryBanner svg {
	fill: #5e5e5e;
}

/* ----------------------------------------------------------------------- */
/*navbar.html*/

nav.navbar {
	background-color: #4547fa !important;
}

nav a,
nav a:hover {
	color: white;
	text-decoration: none;
}

nav input[type="search"],
nav input[type="search"]:active,
nav input[type="search"]:focus {
	background-color: inherit;
	color: white;
	border-color: inherit;
	box-shadow: none;
}

nav .navbar-nav .dropdown-menu {
	position: absolute;
}

@media (max-width: 576px) {
	nav .navbar-nav .col-sm-4:last-of-type .dropdown-menu {
		left: -70px;
	}
}



/* ----------------------------------------------------------------------- */
/* budget.html */

.bluebg2 {
	background-image: linear-gradient(to right, #004ef7 0%, #019dff 20%, #0543b2 100%);
	width: 100%;
}

.caption {
	padding-top: 5%;
	font-family: "Actor";
	font-weight: 100;
	font-size: 20px;
}

.input-caption {
	font-family: "Lato"Montserrat;
	font-size: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.inp {
	font-family: "Lato"Montserrat;
	font-size: 25px;
	border: none;
	border-bottom: 1px solid #000;
	width: 80px;
	text-align: center;
	/*margin: 40% 40% 40% 10%;*/
	margin-top: 40px;
}

.pmprice {
	font-family: "Lato"Montserrat;
	font-size: 25px;
	text-align: left;
}

.no-right-pad-mar {
	padding-right: 0px;
	margin-right: 0px;
}

.no-left-pad-mar {
	padding-left: 0px;
	margin-left: 0px;
}

.blacktext {
	color: #000;
}

.blacktext:hover {
	cursor: pointer;
}

.graytext {
	color: #ccc;
}

.graytext:hover {
	cursor: pointer;
}

.linkbutton2 {
	background-image: linear-gradient(to right, #ffcd6b, #e9775f);
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5% 5% 5% 5%;
}

.row {
	margin: 0;
}

.budgetLogo {
	max-width: 100%;
}

.budgetLink {
	padding-top: 15px;
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 20px;
}

.budgetLink>div {
	background-color: #7BB1E1;
}

.budgetSearch {
	padding-top: 16px;
	margin-left: 3%;
	margin-right: 1%;
	padding-left: 20px;
}

.budgetMarket {
	padding-top: 16px;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 20px;
}

.budgetUser {
	padding-top: 16px;
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 20px;
}

.budgetMainContent {
	padding-top: 5%;
	width: 100%;
}

.budgetMainContent>div:nth-child(2) div.container.pmprice div:first-child>img {
	height: 20px;
}

.budgetMainContent>div:nth-child(2) div.container.pmprice div:not(:first-child)>img {
	height: 20px;
	display: none;
}


/*---------------------------------------------------------------------------------------------*/
/* login.html */

.singin_body {
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #4547fa;

}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



/*---------------------------------------------------------------------------------------------*/
/* features.html */

.featureImage {
	border-radius: 50%;
	cursor: pointer;
}

@media (max-width: 700px) {

	.featureImage {
		width: 120px;
	}
}

.featureImageSelected {
	background-color: rgb(40, 255, 40);
}

.featureDisabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.featuresContainer {
	max-height: 600px;
	border: 2px solid black;
}

.feature {
	width: 33.3%;
}

@media (max-width: 440px) {
	.feature {
		width: 100%;
	}
}


/*---------------------------------------------------------------------------------------------*/
/* usage.html */

.usageWrapper {
	align-items: center;
}

.sliderSteps {
	display: flex;
	font-size: 0.8rem;
	margin-top: 5px;
	margin-left: 5px;
}

@media (max-width: 440px) {

	.sliderSteps {
		font-size: 0.6rem;
	}
}

.sliderSocialDiv {
	background: #f26c4f !important;
}

.sliderVideoDiv {
	background: #72acb7 !important;
}

.sliderGamingDiv {
	background: #f9bf1f !important;
}

.sliderSpan {
	background: #9f9f9f !important;
}

.usageTop {
	position: absolute;
	right: 10px;
}

.usageVery {
	position: absolute;
	right: 24%;
}

.usageRelatively {
	position: absolute;
	right: 46%;
}

.usageSomewhat {
	position: absolute;
	right: 70%;
}

.usageUnimportant {
	position: absolute;
	right: 90%;
}

.usageSocialSelected {
	font-weight: bold;
	/* text-shadow: 0px 0px 3px black; */
	color: #f26c4f;
}

.usageVideoSelected {
	font-weight: bold;
	color: #72acb7;
}

.usageGamingSelected {
	font-weight: bold;
	color: #f9bf1f;
}

.btn-basic {
	background-color: #fffa47;
	color: black;
	font-weight: bold;
	width: 110px;
}

.btn-custom {
	background-color: #f26c4f;
	color: black;
	font-weight: bold;
	width: 110px;
}

#usage_page .container.mt-4 {
	border: 2px solid black;
	border-radius: 15px;
}

@media (max-width: 575px) {

	#usageChoiceContainer .border-right {
		border-right: none !important;
	}

}

/*---------------------------------------------------------------------------------------------*/
/* results.html */

.mid-line {
	position: absolute;
	right: -2rem;
	top: 0;
}

.yellowText {
	color: #aca002;
}

.comparison-text {
	font-size: .6rem
}

.offersWrapper {
	height: 150px;
	overflow: hidden;
}

.offersWrapperWrapper {
	max-height: 350px;
	overflow: scroll;
}

.circle-parent {
	position: absolute;
	top: 0;
	left: 95%;
	z-index: 99;
}

.circle {
	position: relative;
	border: 2px solid #444;
	border-radius: 100%;
	width: 24px;
	line-height: 20px;
	text-align: center;
	margin-top: 300px;
	background-color: #fff;
	z-index: 2;
	font-size: .5rem;
	font-weight: bold;
}

.circle:first-child {
	margin-top: 0;
}

.circle:before {
	position: absolute;
	border: 1px solid #444;
	width: 0;
	height: 304px;
	display: block;
	content: '';
	left: 50%;
	z-index: 1;
	top: -304px;
	margin-left: -1px;
}

.circle:first-child:before {
	display: none;
}

#collapse1 {
	display: flex;

}

.green-circle {
	border-color: palegreen !important;
}

.up-arrow-area {
	height: 30px;
}

.up-arrow-area-1 {
	height: 62px !important;
}

/* --------------------- */

.phoneMedal {
	position: absolute;
	top: -40px;
}

.phonePlacement {
	line-height: 45px;
}

.phoneContainer:not(:last-child) {
	border-right: 2px solid #dee2e6;
}

@media (max-width: 991px) {

	.phoneContainer:not(:last-child) {
		border-bottom: 2px solid #dee2e6;
		border-right: none;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}

}

.phoneSummaryRow {
	line-height: 35px;
}

@media (max-width: 400px) {

	.phoneSummaryRow {
		font-size: 0.9rem;
	}

}

.resultsContainer {

	max-width: 1500px;
	margin: auto;
}

.slick-slide {
	width: 200px;
}

.slick-prev:before {
	content: "<";
	color: #4547fa;
	font-size: 40px;
}

.slick-next {
	right: -10px;
}

.slick-next:before {
	content: ">";
	color: #4547fa;
	font-size: 40px;
}

.slick-dots li button::before {
	font-size: 30px;
	color: #4547fa;
}

.slick-dots li.slick-active button::before {
	color: #4547fa;
	opacity: 1;
}