{include file='header.html'}

<body id="budget_page">

	{include file='navbar.html'}

	<div class="container-fluid text-center mb-5 px-1">

		<svg class="progressBar mt-4" width="900" enable-background="new 0 0 612 792" version="1.1"
			viewBox="0 0 2628.3 425.52" xmlns="http://www.w3.org/2000/svg">
			<g transform="translate(1973.9 1666.1)" fill="none" stroke="#000" stroke-miterlimit="10"
				stroke-width="6.5">
				<polygon transform="translate(-970.32 -1862.3)"
					points="178.76 591.8 100.12 349.78 306 200.2 511.88 349.78 433.24 591.8" />
				<polygon transform="translate(-966.16 -1863.5)"
					points="120.59 295.28 359.51 207.65 516.67 407.8 374.89 619.12 130.1 549.57" />
			</g>
			<g transform="translate(2048.6 1832.3)">
				<g transform="translate(0 -221.94)" fill="none" stroke="#000" stroke-miterlimit="10"
					stroke-width="6.5">
					<polygon transform="translate(54.909 -1806.6)"
						points="433.24 591.8 178.76 591.8 100.12 349.78 306 200.2 511.88 349.78" />
					<polygon transform="translate(59.062 -1807.7)"
						points="130.1 549.57 120.59 295.28 359.51 207.65 516.67 407.8 374.89 619.12" />
				</g>
			</g>
			<g transform="translate(2048.6 1631.7)" fill="none" stroke="#000" stroke-miterlimit="10"
				stroke-width="6.5">
				<polygon transform="translate(-2144.9 -1827.9)"
					points="433.24 591.8 178.76 591.8 100.12 349.78 306 200.2 511.88 349.78" />
				<polygon transform="translate(-2140.7 -1829.1)"
					points="130.1 549.57 120.59 295.28 359.51 207.65 516.67 407.8 374.89 619.12" />
			</g>
			<path d="m1524.4 210.43h698.84" fill="none" stroke="#000" stroke-width="5.8167" />
			<text transform="scale(.94041 1.0634)" x="101.88762" y="227.09068" fill="#000300"
				font-family="sans-serif" font-size="65.683px" letter-spacing="0px" stroke-width="1.6421"
				word-spacing="0px" style="line-height:1.25" xml:space="preserve">
				<tspan x="101.88762" y="227.09068" fill="#000300" stroke-width="1.6421">Budget</tspan>
			</text>
			<path d="m424.52 210.43h698.84" fill="none" stroke="#000" stroke-width="5.8167" />
			<g fill="#000300" font-family="sans-serif" font-size="65.684px" letter-spacing="0px"
				stroke-width="1.6421" word-spacing="0px">
				<text transform="scale(.94039 1.0634)" x="1313.171" y="178.86356"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="1313.171" y="178.86356" fill="#000300" stroke-width="1.6421">Extra
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="1250.9904" y="263.41296"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="1250.9904" y="263.41296" fill="#000300" stroke-width="1.6421">Features
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="2473.0356" y="151.52805"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="2473.0356" y="151.52805" fill="#000300" stroke-width="1.6421">Types
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="2530.5437" y="229.08466"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="2530.5437" y="229.08466" fill="#000300" stroke-width="1.6421">of
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="2490.2883" y="306.64127"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="2490.2883" y="306.64127" fill="#000300" stroke-width="1.6421">Use
					</tspan>
				</text>
			</g>
		</svg>

		<h2 class="mt-5 mb-3">Let us know how much you're going to spend</h2>

		<div class="container d-flex flex-wrap budgetMainContent">

			<div class="col-sm-6 text-center">
				<img class="budgetLogo" src="img/cash.png" alt="Budget" width="300">
			</div>

			<div class="col-sm-6">
				<div class="row justify-content-center ml-2">
					<div class="column no-right-pad-mar">
						<form id="form" class="no-right-pad-mar" method="get"
							action="features.html">
							<span class="input-caption">$</span>
							<input type="number" min="80" max="900" step="10" name="budget"
								class="inp no-right-pad-mar" placeholder="" value="280">
							<input type="hidden" name="range" id="range" value="10">
						</form>
					</div>
					<div class="column">
						<div class="container pmprice">
							<div id="+/-$10" class="blacktext">+/-$10 <img
									src="./img/tick.png">
							</div>
							<div id="+/-$20" class="graytext">+/-$20 <img
									src="./img/tick.png">
							</div>
							<div id="+/-$50" class="graytext">+/-$50 <img
									src="./img/tick.png">
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="container d-flex flex-wrap justify-content-around mt-5">

			<button id="backButton" type="button" class="btn btn-info mb-2 backButton">

				<svg class="leftArrow" enable-background="new 0 0 491.398 491.398" version="1.1" viewBox="0 0 491.4 491.4"
					xmlns="http://www.w3.org/2000/svg">
					<path fill="#fff"
						d="m481.76 220.42-205.29-205.3c-16.967-16.918-44.557-16.942-61.559 0.023l-205.29 205.28c-12.835 12.833-12.835 33.65 0 46.483 12.843 12.842 33.646 12.842 46.487 0l27.828-27.832v214.87c0 19.343 15.682 35.024 35.027 35.024h74.826v-97.62c0-7.584 6.146-13.741 13.743-13.741h76.352c7.59 0 13.739 6.157 13.739 13.741v97.621h74.813c19.346 0 35.027-15.681 35.027-35.024v-214.86l27.812 27.815c6.425 6.421 14.833 9.63 23.243 9.63 8.408 0 16.819-3.209 23.242-9.63 12.844-12.834 12.844-33.65 0-46.484z" />
				</svg>
				Home Page

			</button>

			<button id="submit" type="submit" class="btn btn-danger mb-2 nextButton">

				Next step
				<svg class="rightArrow" enable-background="new 0 0 16 16" viewBox="0 0 16 16">
					<path d="M9,1.25c-0.256,0-0.512,0.097-0.707,0.292C8.098,1.738,8,1.994,8,2.25v2.559   C3.5,5.307,0,9.118,0,13.75v1c2.245-3.423,5.25-3.92,8-3.989v2.489c0,0.255,0.098,0.512,0.293,0.707S8.744,14.25,9,14.25   s0.512-0.098,0.707-0.293L16,7.75L9.707,1.542C9.512,1.347,9.256,1.25,9,1.25z"
						fill="#fff" />
				</svg>

			</button>
		</div>

	</div>

	{include file='footer.html'}