{include file='header.html'}

<body id="features_page">

	{include file='navbar.html'}

	<div class="container-fluid text-center mb-5 px-1">

		<div class="progressBar progress px-0 mx-auto mt-4 font-weight-bold"> 

			<div class="progress-bar bg-warning text-dark w-25 border-right" > 
				{t}Budget{/t}
			</div> 
				
			<div class="progress-bar bg-warning text-dark w-25 border-right"> 
				{t}Features{/t}
			</div> 
		
			<div class="progress-bar bg-light text-black-50 w-25 border-right"> 
				{t}Usage{/t} 
			</div> 
		
			<div class="progress-bar bg-light text-black-50 w-25"> 
				{t}Results{/t} 
			</div> 

		</div> 

		<h2 class="mt-3">{t}Extra Features{/t}</h2>
		<h4 class="mb-3">{t}Select as many options as you like.{/t}</h4>

		<div class="container">

			<form id="featuresForm" action="usage.html" method="get">

				<div class="featuresContainer row overflow-auto form-group justify-content-center">

					{foreach $INITIALFEATURES as $F}
					<div class="feature my-1 my-sm-4">

						<span class="mb-1 mb-lg-0 line-height-x">{$F[2]}</span> <br>

						<img id="{$F@key}" class="featureImage" src="{$F[1]}" alt="{$F[2]}" width="150">

						<input class="d-none" type="checkbox" name="features[]"	value="{$F@key}">

					</div>
					{/foreach}

				</div>

				<div class="row justify-content-around mt-5">

					<button id="backButton" type="button" class="btn btn-dark mb-2 backButton">

						<img src="img/svg/leftArrow.svg" alt="back" class="leftArrow">
						{t}Previous step{/t}

					</button>

					<button type="submit" class="btn btn-warning mb-2 nextButton">

						{t}Next Step{/t}
						<img src="img/svg/rightArrow.svg" alt="next" class="rightArrow">

					</button>
				</div>

			</form>

		</div>

	</div>

	{include file='footer.html'}