{include file='header.html'}

<body id="features_page">

	{include file='navbar.html'}

	<div class="container-fluid text-center mb-5 px-1">

		<svg class="progressBar mt-4" width="900" enable-background="new 0 0 612 792" version="1.1"
			viewBox="0 0 2628.3 425.52" xmlns="http://www.w3.org/2000/svg">
			<g transform="translate(1973.9 1666.1)" fill="none" stroke="#000" stroke-miterlimit="10"
				stroke-width="6.5">
				<polygon transform="translate(-970.32 -1862.3)"
					points="178.76 591.8 100.12 349.78 306 200.2 511.88 349.78 433.24 591.8" />
				<polygon transform="translate(-966.16 -1863.5)"
					points="120.59 295.28 359.51 207.65 516.67 407.8 374.89 619.12 130.1 549.57" />
			</g>
			<g transform="translate(2048.6 1832.3)">
				<g transform="translate(0 -221.94)" fill="none" stroke="#000" stroke-miterlimit="10"
					stroke-width="6.5">
					<polygon transform="translate(54.909 -1806.6)"
						points="433.24 591.8 178.76 591.8 100.12 349.78 306 200.2 511.88 349.78" />
					<polygon transform="translate(59.062 -1807.7)"
						points="130.1 549.57 120.59 295.28 359.51 207.65 516.67 407.8 374.89 619.12" />
				</g>
			</g>
			<g transform="translate(2048.6 1631.7)" fill="none" stroke="#4547fa" stroke-miterlimit="10"
				stroke-width="6.5">
				<polygon transform="translate(-2144.9 -1827.9)"
					points="433.24 591.8 178.76 591.8 100.12 349.78 306 200.2 511.88 349.78" />
				<polygon transform="translate(-2140.7 -1829.1)"
					points="130.1 549.57 120.59 295.28 359.51 207.65 516.67 407.8 374.89 619.12" />
			</g>
			<path d="m1524.4 210.43h698.84" fill="none" stroke="#000" stroke-width="5.8167" />
			<text transform="scale(.94041 1.0634)" x="101.88762" y="227.09068" fill="#4547fa"
				font-family="sans-serif" font-size="65.683px" letter-spacing="0px" stroke="#4547fa"
				stroke-width="1.6421" word-spacing="0px" style="line-height:1.25" xml:space="preserve">
				<tspan x="101.88762" y="227.09068" fill="#4547fa" stroke="#4547fa"
					stroke-width="1.6421">Budget</tspan>
			</text>
			<path d="m424.52 210.43h698.84" fill="none" stroke="#000" stroke-width="5.8167" />
			<g fill="#000300" font-family="sans-serif" font-size="65.684px" letter-spacing="0px"
				stroke-width="1.6421" word-spacing="0px">
				<text transform="scale(.94039 1.0634)" x="1313.171" y="178.86356"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="1313.171" y="178.86356" fill="#000300" stroke-width="1.6421">Extra
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="1250.9904" y="263.41296"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="1250.9904" y="263.41296" fill="#000300" stroke-width="1.6421">Features
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="2473.0356" y="151.52805"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="2473.0356" y="151.52805" fill="#000300" stroke-width="1.6421">Types
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="2530.5437" y="229.08466"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="2530.5437" y="229.08466" fill="#000300" stroke-width="1.6421">of
					</tspan>
				</text>
				<text transform="scale(.94039 1.0634)" x="2490.2883" y="306.64127"
					style="line-height:1.25" xml:space="preserve">
					<tspan x="2490.2883" y="306.64127" fill="#000300" stroke-width="1.6421">Use
					</tspan>
				</text>
			</g>
		</svg>

		<h2 class="mt-5">Extra Features</h2>
		<h4 class="mb-3">Select as many options as you like.</h4>

		<div class="container">

			<form id="featuresForm" action="usage.html" method="get">

				<div class="featuresContainer row overflow-auto form-group justify-content-center">

					{foreach $INITIALFEATURES as $F}
					<div class="feature my-1 my-sm-4">

						<span class="mb-1 mb-lg-0 line-height-x" data-toggle="tooltip"
							data-placement="top"
							title="Short Description about this option">{$F}</span> <br>

						<img id="{$F}" class="featureImage" src="img/3g4g.png" alt="{$F}" width="150">

						<input class="d-none" type="checkbox" name="features[]" value="{$F}">

					</div>
					{/foreach}

				</div>

				<div class="row justify-content-around mt-5">

					<button id="backButton" type="button" class="btn btn-info mb-2 backButton">

						<svg class="leftArrow" enable-background="new 0 0 16 16"
							viewBox="0 0 16 16">
							<path d="M8,4.809V2.25c0-0.256-0.098-0.512-0.293-0.708C7.512,1.347,7.256,1.25,7,1.25   S6.488,1.347,6.293,1.542L0,7.75l6.293,6.207C6.488,14.152,6.744,14.25,7,14.25s0.512-0.098,0.707-0.293S8,13.505,8,13.25v-2.489   c2.75,0.068,5.755,0.566,8,3.989v-1C16,9.117,12.5,5.307,8,4.809z"
								fill="#fff" />
						</svg>
						Previous step

					</button>

					<button type="submit" class="btn btn-danger mb-2 nextButton">

						Next Step
						<svg class="rightArrow" enable-background="new 0 0 16 16"
							viewBox="0 0 16 16">
							<path d="M9,1.25c-0.256,0-0.512,0.097-0.707,0.292C8.098,1.738,8,1.994,8,2.25v2.559   C3.5,5.307,0,9.118,0,13.75v1c2.245-3.423,5.25-3.92,8-3.989v2.489c0,0.255,0.098,0.512,0.293,0.707S8.744,14.25,9,14.25   s0.512-0.098,0.707-0.293L16,7.75L9.707,1.542C9.512,1.347,9.256,1.25,9,1.25z"
								fill="#fff" />
						</svg>

					</button>
				</div>

			</form>

		</div>

	</div>

	{include file='footer.html'}