{include file='header.html'}

<body id="features_page">

	{include file='navbar.html'}

	<div class="container-fluid text-center mb-5 px-1">

		<div class="progressBar progress px-0 mx-auto mt-4 font-weight-bold"> 

			<div class="progress-bar bg-warning text-dark w-25 border-right" > 
				Budget
			</div> 
				
			<div class="progress-bar bg-warning text-dark w-25 border-right"> 
				Features
			</div> 
		
			<div class="progress-bar bg-light text-black-50 w-25 border-right"> 
				Usage 
			</div> 
		
			<div class="progress-bar bg-light text-black-50 w-25"> 
				Results 
			</div> 

		</div> 

		<h2 class="mt-3">Extra Features</h2>
		<h4 class="mb-3">Select as many options as you like.</h4>

		<div class="container">

			<form id="featuresForm" action="usage.html" method="get">

				<div class="featuresContainer row overflow-auto form-group justify-content-center">

					{foreach $INITIALFEATURES as $F}
					<div class="feature my-1 my-sm-4">

						<span class="mb-1 mb-lg-0 line-height-x" data-toggle="tooltip"
							data-placement="top"
							title="Short Description about this option">{$F}</span> <br>

						<img id="{$F}" class="featureImage" src="img/3g4g.png" alt="{$F}" width="150">

						<input class="d-none" type="checkbox" name="features[]" value="{$F}">

					</div>
					{/foreach}

				</div>

				<div class="row justify-content-around mt-5">

					<button id="backButton" type="button" class="btn btn-dark mb-2 backButton">

						<svg class="leftArrow" enable-background="new 0 0 16 16"
							viewBox="0 0 16 16">
							<path d="M8,4.809V2.25c0-0.256-0.098-0.512-0.293-0.708C7.512,1.347,7.256,1.25,7,1.25   S6.488,1.347,6.293,1.542L0,7.75l6.293,6.207C6.488,14.152,6.744,14.25,7,14.25s0.512-0.098,0.707-0.293S8,13.505,8,13.25v-2.489   c2.75,0.068,5.755,0.566,8,3.989v-1C16,9.117,12.5,5.307,8,4.809z"
								fill="#fff" />
						</svg>
						Previous step

					</button>

					<button type="submit" class="btn btn-warning mb-2 nextButton">

						Next Step
						<svg class="rightArrow" enable-background="new 0 0 16 16"
							viewBox="0 0 16 16">
							<path d="M9,1.25c-0.256,0-0.512,0.097-0.707,0.292C8.098,1.738,8,1.994,8,2.25v2.559   C3.5,5.307,0,9.118,0,13.75v1c2.245-3.423,5.25-3.92,8-3.989v2.489c0,0.255,0.098,0.512,0.293,0.707S8.744,14.25,9,14.25   s0.512-0.098,0.707-0.293L16,7.75L9.707,1.542C9.512,1.347,9.256,1.25,9,1.25z"
								fill="#fff" />
						</svg>

					</button>
				</div>

			</form>

		</div>

	</div>

	{include file='footer.html'}