<!DOCTYPE html>
{strip}

<html lang="{$LANGUAGE}">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{t}PhoneVice description{/t}">
	<title>Phone Vice</title>

	<meta name="robots" content="index, follow">

	<script>
		var localePhonevice = "{$LANGUAGE}";
		var buttonPhonevice = "{t}PhoneVice{/t}";
		var heading = "{t}PhoneVice Heading{/t}";
	</script>

	<link rel="icon" href="img/favicon.ico" sizes="16x16 24x24 32x32 64x64" type="image/png">

	{assign var=FILEVERSION value=1}

	{if isset($DEBUG)}

	<link href="css/jquery-ui.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script defer src="js/jquery.min.js"></script>
	<script defer src="js/jquery-ui.min.js"></script>
	<script defer src="js/bootstrap.bundle.min.js"></script>
	<script defer src="js/chart.min.js"></script>
	<script defer src="js/custom.js"></script>

	{else}

	<link href="css/style.{$FILEVERSION}.min.css" rel="stylesheet">
	<script defer src="js/custom.{$FILEVERSION}.min.js"></script>

	{/if}
	
</head>

{/strip}