{include file='header.html'}

<body>

	{include file='navbar.html'}

	<div class="jumbotron jumbotron-fluid white bluebg jumbotronCustom">
			<h4 class="bg-warning p-3 rounded text-dark text-center mt-5">This is your next smartphone. 3 clicks away.</h4>

		<div class="row text-center mainBanner">

			<div class="col-sm-4"></div>
			<div class="col-sm-4 d-flex justify-content-center align-items-center">
				<form action="budget.html" method="get">
					<input type="submit" class="btn btn-warning btn-lg my-5 px-5 py-3" value="START NOW!">
				</form>
			</div>
		</div>

	</div>
	<!--end of jumbtron-fluid-->

	<div class="container-fluid text-center py-5 text-muted">
		<div class="row secondaryBanner">
			<div class="col-sm-4">
				<h5>
					<img src="img/svg/smartphones.svg" alt="Smartphones">
				       1000+ smartphones
				</h5>
				<p>Our database contains thousands of models to make sure we find the one that suits you
					best!</p>
			</div>
			<div class="col-sm-4">
				<h5>
					<img src="img/svg/personalRecommendation.svg" alt="personalRecommendation">
				       Personal Recommendation
				</h5>
				<p>Our algorithm is designed to provide unique recommendations that depend on and
					fulfill your own needs </p>
			</div>
			<div class="col-sm-4">
				<h5>

					<img src="img/svg/piggy.svg" alt="piggy" class="piggySVG">
				       <span>Save time</span>
				</h5>
				<p>Most people need days to find their favorite phone <br> We can help you find in a few
					minutes. It's 3 clicks away!</p>
			</div>
		</div>
	</div>

	{include file='footer.html'}