{include file='header.html'}

<body>

	{include file='navbar.html'}

	<div class="jumbotron jumbotron-fluid white bluebg jumbotronCustom">
			<h4 class="bg-warning p-3 rounded text-dark text-center mt-5">{t}This is your next smartphone. 3 clicks away.{/t}</h4>

		<div class="row text-center mainBanner">

			<div class="col-sm-4"></div>
			<div class="col-sm-4 d-flex justify-content-center align-items-center flex-column">
				<form action="budget.html" method="get">
					<input type="submit" class="btn btn-warning btn-lg my-3 px-5 py-3 border-dark" value="{t}START NOW!{/t}">
				</form>
				<form action="smartphone-database.html" method="get">
					<input type="submit" class="btn bg-lightgrey px-5 border-dark" value="{t}Smartphone database{/t}">
				</form>
				<form action="stats.html" method="get">
					<input type="submit" class="btn bg-lightgrey px-3 border-dark mt-3" value="{t}Interesting stats{/t}">
				</form>
			</div>
		</div>

	</div>

	<div class="container-fluid text-center py-5 text-muted">
		<div class="row secondaryBanner">
			<div class="col-sm-4">
				<h5>
					<img src="img/svg/smartphones.svg" alt="Smartphones">
				       500+ smartphones
				</h5>
				<p>{t}Our database contains thousands of models to make sure we find the one that suits you best!{/t}</p>
			</div>
			<div class="col-sm-4">
				<h5>
					<img src="img/svg/personalRecommendation.svg" alt="personalRecommendation">
				       {t}Personal Recommendation{/t}
				</h5>
				<p>{t}Our algorithm is designed to provide unique recommendations that depend on and fulfill your own needs.{/t}</p>
			</div>
			<div class="col-sm-4">
				<h5>

					<img src="img/svg/piggy.svg" alt="piggy" class="piggySVG">
				       <span>{t}Save time{/t}</span>
				</h5>
				<p>{t}Most people need days to find their favorite phone{/t} <br> {t}We can help you find in a few minutes. It's 3 clicks away!{/t}</p>
			</div>
		</div>
	</div>

	{include file='footer.html'}