{strip}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 px-sm-5 align-items-start">

	<div class="col-4 text-center">

		<a href="index.html"><img src="img/logo.png" alt="Phonevice" width="210"></a>

	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="navbarToggler" class="collapse navbar-collapse align-items-start mt-3">

		<div class="col-xs-12 col-lg-6 mt-3 mt-lg-0">

			<div class="col-12">

				<div class="input-group">

					<input id="searchBar" type="search" class="form-control">
					<input id="phoneID" name="phoneID" type="hidden" class="form-control">

					<div class="input-group-append">
						<button class="btn border-top border-right border-bottom" type="submit">
							<img src="img/svg/magnifier.svg" alt="search">
						</button>
					</div>

				</div>

			</div>

		</div>

		<div class="col-xs-12 col-lg-6 mt-3 mt-lg-0 text-center">

			<img src="img/svg/GR.svg" alt="el" width="30" class="mr-2 language">
			<img src="img/svg/EN.svg" alt="en" width="30" class="mr-2 language">

			{nocache}

			<a href="faq.html" class="h4 mr-3 text-white mb-0 align-middle">FAQ</a>
			{if isset($USER)}
			<span class="text-white font-weight-bold mr-2">{$USER['username']}</span>
			<span id="logout" class="text-warning">{t}Logout{/t}</span>
			{else}
			<a href="login.html" class="btn btn-warning my-2 my-sm-0">{t}Log in/Sign up{/t}</a>
			{/if}

			{/nocache}

		</div>

	</div>

</nav>
{/strip}