{strip}
<div class="container-fluid text-center bluebg customNavbar">
			<div class="row">
				<div class="col-sm-3 white">
					<h3>PhoneVice</h3>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-md-4 ">
					<form class="searchBar" action="/action_page.php">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-link" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-1 "></div>
				<div class="col-md-3 ">
					<div class=" white ">
				      Hello, image, name.
			      </div>
				</div>
			</div>
			<!--end of row-->
			<div class="row noLeftPadding">
				<div class="col-sm-4 "></div>


				<div class="col-sm-1">
					<a href="https://www....">HOME</a>
				</div>
				<div class="col-sm-1">
					<a href="https://www....">TOOL</a>
				</div>
				<div class="col-sm-1">
					<a href="https://www....">FORUM</a>
				</div>
				<div class="col-sm-1 nav-item dropdown mx-3 my-auto navbarItem">
			        <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          MARKET
			        </a>
			        <div class="dropdown-menu bluebg" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
      		</div>

				<div class="col-sm-3 "></div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-fluid text-center-->
{/strip}