{include file='header.html'}

<body id="database_page">

	{include file='navbar.html'}

	<div class="container-fluid mb-5 px-1">

		<h2 class="mt-5 mb-3 text-center">Smartphone database</h2>

		<div class="container row" class="input-group mb-3">

			<h5 class="text-danger col-12 p-0">*Disclaimer: This page is for demonstration purposes only</h4>

			<div class="col-md-6 p-0">
				<input id="brands" type="search" class="form-control"
					placeholder="Search by brand name">
			</div>

			<div class="col-md-6 mt-md-0 mt-3 p-0">
				<input id="models" type="search" class="form-control"
					placeholder="Search by model name">
			</div>

		</div>

		<div id="phones" class="row p-3 flex-column">

			

		</div>

	</div>

</body>

{include file='footer.html'}