{include file='header.html'}

<body id="usage_page">

	{include file='navbar.html'}

	<div class="container-fluid text-center mb-5 px-1">

		<div class="progressBar progress px-0 mx-auto mt-4 font-weight-bold"> 

			<div class="progress-bar bg-warning text-dark w-25 border-right" > 
				Budget
			</div> 
				
			<div class="progress-bar bg-warning text-dark w-25 border-right"> 
				Features
			</div> 
		
			<div class="progress-bar bg-warning text-dark w-25 border-right"> 
				Usage 
			</div> 
		
			<div class="progress-bar bg-light text-black-50 w-25"> 
				Results 
			</div> 

		</div> 

		<h2 class="mt-5 mb-3">How will you be using your phone?</h2>

		<div id="usageChoiceContainer" class="container mt-4">

			<div class="row">

				<div id="basicUse" class="col-sm-6 mt-4 mb-4 border-right border-dark">

					<div class="col-sm-12 mt-2 text-center">
						<h4>Basic Use</h4>
					</div>

					<div class="col-sm-12 usageSvgContainer bg-lightgrey rounded">
						<img src="img/svg/basicUse.svg" alt="basic use" height="150" class="">
					</div>

					<div class="col-sm-12 p-4 mt-3">
						Everyday use. A little bit of everything. Social media, gaming, photos, video streaming etc. are things you will be doing on a daily basis with your phone, but none of them is really important for you. <strong>Finds phones with an all around good performance.</strong>
					</div>

					<div class="col-sm-12 mt-5">
						<form id="basicForm" action="results.html" method="get">
							<button class="btn bg-lightgrey">Basic</button>
						</form>
					</div>

				</div>

				<div id="customUse" class="col-sm-6 mt-4 mb-4">

					<div class="col-sm-12 mt-2 text-center">
						<h4>Custom Use</h4>
					</div>

					<div class="col-sm-12 usageSvgContainer bg-warning rounded">
						<img src="img/svg/customUse.svg" alt="custom use" height="150" class="">
					</div>

					<div class="col-sm-12 p-4 mt-3">
						Are you a hardcore gamer? Do you like watching videos all day on your smartphone? Or are you a social media person who can't live without their favorite social apps? <br><strong>Finds phones based on types of use.</strong>
					</div>

					<div class="col-sm-12 mt-5">
						<button class="btn btn-warning" data-target="#usageForm">Custom</button>
					</div>

				</div>

			</div>

		</div>

		<form id="usageForm" class="mt-5 container collapse" action="results.html" method="get">

			<div class="row usageWrapper">

				<div class="col-md-3">
					<div class="col-12 mb-2 font-weight-bold">Social Networking</div>
					<img src="img/phonewithapps.png" width="100" alt="phone with apps">
				</div>

				<div class="col-md-7 mt-4">
					<div id="socialSlider"></div>
					<div class="sliderSteps">
						<span class="usageUnimportant usageSocialUnimportant">Unimportant</span>
						<span class="usageSomewhat usageSocialSomewhat">Somewhat</span>
						<span
							class="usageRelatively usageSocialRelatively usageSocialSelected">Relatively</span>
						<span class="usageVery usageSocialVery">Very</span>
						<span class="usageTop usageSocialTop">Top</span>
					</div>
				</div>

				<div class="col-md-2 mt-4 text-secondary">
					Importance slider
					<input type="hidden" id="usageSocialAmount" name="usageSocial">
				</div>

			</div>

			<div class="row usageWrapper mt-5">

				<div class="col-md-3">
					<div class="col-12 mb-2 font-weight-bold">Video Streaming</div>
					<img src="img/phoneinhand.png" width="100" alt="phone with apps">
				</div>

				<div class="col-md-7 mt-4">
					<div id="videoSlider"></div>
					<div class="sliderSteps">
						<span class="usageUnimportant usageVideoUnimportant">Unimportant</span>
						<span class="usageSomewhat usageVideoSomewhat">Somewhat</span>
						<span
							class="usageRelatively usageVideoRelatively usageVideoSelected">Relatively</span>
						<span class="usageVery usageVideoVery">Very</span>
						<span class="usageTop usageVideoTop">Top</span>
					</div>
				</div>

				<div class="col-md-2 mt-4 text-secondary">
					Importance slider
					<input type="hidden" id="usageVideoAmount" name="usageVideo">
				</div>

			</div>

			<div class="row usageWrapper mt-5">

				<div class="col-md-3">
					<div class="col-12 mb-2 font-weight-bold">Gaming</div>
					<img src="img/phoneinbothhands.png" width="100" alt="phone with apps">
				</div>

				<div class="col-md-7 mt-4">
					<div id="gamingSlider"></div>
					<div class="sliderSteps">
						<span class="usageUnimportant usageGamingUnimportant">Unimportant</span>
						<span class="usageSomewhat usageGamingSomewhat">Somewhat</span>
						<span
							class="usageRelatively usageGamingRelatively usageGamingSelected">Relatively</span>
						<span class="usageVery usageGamingVery">Very</span>
						<span class="usageTop usageGamingTop">Top</span>
					</div>
				</div>

				<div class="col-md-2 mt-4 text-secondary">
					Importance slider
					<input type="hidden" id="usageGamingAmount" name="usageGaming">
				</div>

			</div>

		</form>

		<div class="container d-flex flex-wrap justify-content-around mt-5">

			<button id="backButton" type="button" class="btn btn-dark mb-2 backButton">

				<img src="img/svg/leftArrow.svg" alt="back" class="leftArrow">
				Previous step

			</button>

			<button id="resultsButton" type="submit" disabled class="btn btn-warning mb-2 nextButton">

				Results!

				<img src="img/svg/finishLine.svg" alt="back" class="rightArrow">

			</button>
		</div>

	</div>

	{include file='footer.html'}